//for Dark Mode
.container-darkMode{
    margin: 0;
    width: 100%;
    height: 100%;
    max-width: fit-content;
}

.checkbox{
    position: absolute;
    opacity: 0;
}

.checkbox:checked + .themeLabel{
    background-color: transparent;
    border-color: black;
    .themeBall{
        transform: translateX(100%);
        background-color: black;
    }
}

.themeLabel{
    position: sticky;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: #111111;
    border-width: 2px;
    height: 35px;
    width: 60px;
    border-radius: 50px;
    cursor: pointer;
}

.themeBall{
    position: absolute;
    width: 26px;
    height: 26px;
    left: 0;
    margin: 0 2px;
    border-radius: 50%;
    background-color: #111111;
    transition: transform 0.3s linear;
    cursor: pointer;
}

//for NavBar

#ulMainNav{
    transition: all 1.2s;
    opacity: 0;
    display: block;
    position: absolute;
    left: -200px;
    width: fit-content;
}

#ulMainNav.show{
    left: 0;
    color: #111111 !important;
    opacity: 1;
}

.hamburger-box .hamburger-inner,
.hamburger-box .hamburger-inner::before,
.hamburger-box .hamburger-inner::after {
	display: block;
}

.hamburger-box .hamburger-inner,
.hamburger-box .hamburger-inner::before,
.hamburger-box .hamburger-inner::after {
	background-color: #eeeeee;
}

.hamburger.is-active .hamburger-box .hamburger-inner,
.hamburger.is-active .hamburger-box .hamburger-inner::before,
.hamburger.is-active .hamburger-box .hamburger-inner::after{
	background-color: #111111;
}

body.dark{
	.hamburger-box .hamburger-inner,
	.hamburger-box .hamburger-inner::before,
	.hamburger-box .hamburger-inner::after {
		background-color: #111111;
	}

	.hamburger.is-active .hamburger-box .hamburger-inner,
	.hamburger.is-active .hamburger-box .hamburger-inner::before,
	.hamburger.is-active .hamburger-box .hamburger-inner::after{
		background-color: #111111;
	}
}

#navBar {
    width: 0;
    transition: all 0.8s ease-in-out;   
    height: 100vh;
    background-color: #B6B6B4;
}

#navBar.isactive{
    width: 120px;
}