.ul_main_nav.show {
  display: block;
  position: absolute;
  left: 0;
  padding-right: 20px;
  width: fit-content; }

.hamburger-box .hamburger-inner,
.hamburger-box .hamburger-inner::before,
.hamburger-box .hamburger-inner::after {
  display: block; }

.hamburger-box .hamburger-inner,
.hamburger-box .hamburger-inner::before,
.hamburger-box .hamburger-inner::after {
  background-color: #eeeeee; }

.hamburger.is-active .hamburger-box .hamburger-inner,
.hamburger.is-active .hamburger-box .hamburger-inner::before,
.hamburger.is-active .hamburger-box .hamburger-inner::after {
  background-color: #eeeeee; }

body.dark .hamburger-box .hamburger-inner,
body.dark .hamburger-box .hamburger-inner::before,
body.dark .hamburger-box .hamburger-inner::after {
  background-color: #111111; }

body.dark .hamburger.is-active .hamburger-box .hamburger-inner,
body.dark .hamburger.is-active .hamburger-box .hamburger-inner::before,
body.dark .hamburger.is-active .hamburger-box .hamburger-inner::after {
  background-color: #111111; }
