nav {
  z-index: 1; }

.main_nav {
  flex: 1;
  position: relative;
  text-align: center;
  margin: 30px auto;
  height: 50px; }

.ul_main_nav {
  list-style: none;
  padding-inline-start: 0px;
  margin: 0 auto;
  align-items: center; }
  .ul_main_nav a {
    font-size: 25px;
    text-decoration: none;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition: all() ease-in(0.5s); }
  .ul_main_nav a:hover {
    color: #686468; }

.main_nav_item {
  display: inline-block;
  word-spacing: 0px;
  font-weight: bold;
  margin-inline: 50px;
  width: fit-content; }

.active a {
  color: #686468;
  font-weight: bold; }

.button-container {
  display: none; }

.hamburger {
  position: absolute;
  right: 0;
  margin: 0 auto;
  display: none;
  cursor: pointer; }
  .hamburger .bar-active {
    display: none; }
  .hamburger .bar-inactive {
    display: block; }
  .hamburger.show .bar-active {
    display: block; }
  .hamburger.show .bar-inactive {
    display: none; }

.hamburger-box .hamburger-inner,
.hamburger-box .hamburger-inner::before,
.hamburger-box .hamburger-inner::after {
  background-color: white;
  display: none; }

.hamburger.is-active .hamburger-box .hamburger-inner,
.hamburger.is-active .hamburger-box .hamburger-inner::before,
.hamburger.is-active .hamburger-box .hamburger-inner::after {
  background-color: white; }

@media only screen and (max-width: 1020px) {
  .main_nav {
    display: block;
    position: absolute;
    right: 0;
    top: -1rem;
    background-color: #353434;
    height: fit-content;
    width: fit-content; }
  .ul_main_nav.show {
    display: block; }
  .main_nav_item {
    display: block;
    margin: 1rem 3rem; }
  .button-container {
    display: block; }
  .hamburger-box .hamburger-inner,
  .hamburger-box .hamburger-inner::before,
  .hamburger-box .hamburger-inner::after {
    display: block; } }

.about_container {
  width: 100%;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  top: 6rem;
  text-align: justify; }

.about {
  margin: 0 auto;
  top: 10rem;
  max-width: 800px; }

.skills_container {
  align-items: center;
  height: auto;
  justify-content: center;
  width: 100%; }

.skills_header {
  text-align: center; }

.skills_main {
  font-size: 20px;
  margin: 0 auto;
  max-width: 800px;
  margin-top: 3rem; }

.skills_ul {
  text-align: center; }

.skills_li {
  display: inline-block;
  width: 160px;
  height: auto;
  margin: 30px;
  border-radius: 10px; }

.skills_li:hover {
  color: #000000;
  cursor: default;
  font-weight: bold;
  transition: 5000ms;
  background: linear-gradient(-45deg, #526fcc, #d36e6e, #f0ed64);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@media only screen and (max-width: 1020px) {
  .about_container {
    flex-direction: column;
    font-size: 20px;
    margin: 0 auto; }
  .about {
    width: 50%; }
  .skills_main {
    width: 80%; } }
