.contact_container {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  position: relative;
  top: 7rem;
  left: 10rem;
  justify-content: center;
  display: block; }

.line_1 {
  width: fit-content;
  font-size: 25px;
  margin: 0 auto; }

.line_2 {
  width: fit-content;
  font-size: 25px;
  margin: 0 auto; }

.contact_ul {
  position: relative; }

.contact_li {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  margin: 0 auto; }

.contact_a {
  list-style: none;
  text-decoration: none;
  font-size: 25px;
  transition-duration: .5s;
  transition: all() ease-in(0.5s); }

.contact_a:hover {
  color: #686468; }

.wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  transition: all .4s ease-out;
  margin: 0 auto; }
  .wrapper__links {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.social-link--linkedin {
  color: #2d76b0; }

.social-link--github {
  color: black; }

.social-link--instagram {
  color: #9a2970; }

.social-link .social-svg {
  width: 4.8rem;
  height: 4.8rem; }
  .social-link .social-svg .social-group__icon {
    transition: all .2s; }
  .social-link .social-svg .social-group__inner-circle {
    fill: transparent;
    transition: all .2s; }
  .social-link .social-svg .social-group__outline {
    transform-origin: 50% 50%;
    transition: all .2s; }
  .social-link .social-svg:hover .social-group__icon, .social-link .social-svg:active .social-group__icon, .social-link .social-svg:focus .social-group__icon {
    transition: all .45s; }
  .social-link .social-svg:hover .social-group__inner-circle, .social-link .social-svg:active .social-group__inner-circle, .social-link .social-svg:focus .social-group__inner-circle {
    fill: currentColor;
    transition: all .45s; }
    .social-link .social-svg:hover .social-group__inner-circle--instagram, .social-link .social-svg:active .social-group__inner-circle--instagram, .social-link .social-svg:focus .social-group__inner-circle--instagram {
      fill: url(#simpleInsta) !important; }
  .social-link .social-svg:hover .social-group__outline, .social-link .social-svg:active .social-group__outline, .social-link .social-svg:focus .social-group__outline {
    stroke: currentColor;
    transform: scale(1.1);
    transition: all .45s; }

.contact_illustration {
  max-width: 1024px;
  margin: 0 auto; }

.astronaut_1 {
  position: absolute;
  bottom: 8rem;
  left: -15rem;
  margin: 0 auto;
  width: 150px;
  animation: astronaut 30000ms linear infinite normal; }

@keyframes astronaut {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@media only screen and (max-width: 1020px) {
  .contact_container {
    flex-direction: column;
    text-align: center;
    position: relative;
    left: 0rem; }
  .contact_illustration {
    width: 100%;
    margin: 0 auto; }
  .astronaut_1 {
    width: 50px;
    position: relative;
    left: 0;
    top: 13rem; } }
