.exp_container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 15rem; }

@media only screen and (max-width: 980px) {
  .exp_container {
    flex-direction: column;
    text-align: center; } }
