.img-wrapper {
  min-width: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 50%; }

.profile-picture {
  width: 500px;
  height: auto;
  border-radius: 50%;
  transition: all 1.2s; }

.profile-picture:hover {
  transform: scale(1.1);
  filter: none;
  -webkit-filter: grayscale(0); }

.container_bio {
  gap: 15px; }

.bio {
  min-width: fit-content; }

.glitch {
  white-space: nowrap;
  font-size: inherit;
  width: fit-content;
  letter-spacing: 3px; }

.skills_ul {
  text-align: center; }

.skills_li {
  display: inline-block;
  width: 160px;
  height: auto;
  margin: 30px; }

.pt-26vh {
  padding-top: 26vh; }
