.img-wrapper {
  min-width: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%; }

.profile-picture {
  width: 250px;
  height: auto;
  border-radius: 50%;
  transition: all 2000ms; }

.profile-picture:hover {
  transform: scale(1.3); }

.container_bio {
  gap: 15px; }

.bio {
  min-width: fit-content; }

.glitch {
  white-space: nowrap;
  font-size: inherit;
  width: fit-content;
  letter-spacing: 3px; }

.skills_ul {
  text-align: center; }

.skills_li {
  display: inline-block;
  width: 160px;
  height: auto;
  margin: 30px;
  border-radius: 10px; }
