nav {
  z-index: 1; }

.main_nav {
  flex: 1;
  position: relative;
  text-align: center;
  margin: 30px auto;
  height: 50px; }

.ul_main_nav {
  list-style: none;
  padding-inline-start: 0px;
  margin: 0 auto;
  align-items: center; }
  .ul_main_nav a {
    font-size: 25px;
    text-decoration: none;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition: all() ease-in(0.5s); }
  .ul_main_nav a:hover {
    color: #686468; }

.main_nav_item {
  display: inline-block;
  word-spacing: 0px;
  font-weight: bold;
  margin-inline: 50px;
  width: fit-content; }

.active a {
  color: #686468;
  font-weight: bold; }

.button-container {
  display: none; }

.hamburger {
  position: absolute;
  right: 0;
  margin: 0 auto;
  display: none;
  cursor: pointer; }
  .hamburger .bar-active {
    display: none; }
  .hamburger .bar-inactive {
    display: block; }
  .hamburger.show .bar-active {
    display: block; }
  .hamburger.show .bar-inactive {
    display: none; }

.hamburger-box .hamburger-inner,
.hamburger-box .hamburger-inner::before,
.hamburger-box .hamburger-inner::after {
  background-color: white;
  display: none; }

.hamburger.is-active .hamburger-box .hamburger-inner,
.hamburger.is-active .hamburger-box .hamburger-inner::before,
.hamburger.is-active .hamburger-box .hamburger-inner::after {
  background-color: white; }

@media only screen and (max-width: 1020px) {
  .main_nav {
    display: inline-block;
    position: absolute;
    right: -3rem;
    top: -2rem;
    background-color: #353434;
    height: fit-content;
    border-radius: 2rem 0rem 0 2rem;
    clip-path: circle(1000px at 90% -10%); }
  .ul_main_nav.show {
    display: block; }
  .main_nav_item {
    display: block;
    margin: 1rem 3rem; }
  .button-container {
    display: block; }
  .hamburger-box {
    transition: all 2s; }
  .hamburger-box .hamburger-inner,
  .hamburger-box .hamburger-inner::before,
  .hamburger-box .hamburger-inner::after {
    display: block; } }
