$main: #111111;
$secondary: #eeeeee;
$text: #f1f1f1;

@import 'base/index.scss';
@import 'layouts/comp.scss';
@import 'assets/layouts/glitch.scss';
@import 'base/contact.scss';



// @tailwind base;
// @tailwind components;
// @tailwind utilities;

.html{
	overflow: hidden;
}

.linkedin:hover{
	color: #0072b1;
}

.instagram:hover{
	color: rgb(255, 111, 219);
}

.mar-auto{
	margin: auto;
}


*{
	margin:0 auto;
	padding: 0;
}

body {
	font-family: 'Mulish', sans-serif;
	background: $main;
	color: $secondary;
	font-size: 20px;
	width: 100%;
	height: auto;
	// background-image: url(/photos/dark-sea.png);
	// background-repeat: no-repeat;
	// background-size: 100%;
  }

body.dark{
	background-color: rgba(235, 235, 221, 0.726) !important;
	color: $main !important;
	fill: $main !important;
	.box {
		background:linear-gradient( to top right, rgba(255,87,34,1) 0%,
		rgba(251,140,0 ,1) 100%);
		box-shadow: 1px 1px 30px rgba(255,111,0 ,1);

		border-radius: 15px;
	}
}

.home-section{
	width: 100%;
	height: 100vh;
}

::-webkit-scrollbar {
	width: 7px;
	background: transparent;
}

::-webkit-scrollbar-track {
	background:  white;
  }

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background: linear-gradient(to bottom, rgb(83, 114, 197) 0%, rgb(47, 185, 66) 100%);
	box-shadow: 0px 0px 0px 100000vh $main;
  }

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(to bottom, rgb(54, 74, 128) 0%, rgb(31, 122, 43) 100%);
}

.section-transition{
	transition: all 1000ms;
}

a{	
	text-decoration: none;
	transition: all(1000ms) ;
	cursor: pointer;
}

.box {
	background:linear-gradient( to top right, rgb(75, 0, 90) 0%,
	rgb(142, 0, 158) 100%);
	box-shadow: 1px 1px 30px rgb(188, 36, 202);
	border-radius: 15px;
}