.contact_container{
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  position: relative;
  top: 7rem;
  left: 10rem;
  justify-content: center;
  display:block;
}

.line_1{
  width: fit-content;
  font-size: 25px;
  margin: 0 auto;
}
.line_2{
  width: fit-content;
  font-size: 25px;
  margin: 0 auto;
}
.contact_ul{
    position: relative;
}
.contact_li{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0 auto;
}
.contact_a{
    list-style: none;
    text-decoration: none;
    font-size: 25px;
    transition-duration: .5s;
    transition: all() ease-in(.5s);
}
.contact_a:hover{
    color: #686468;
}

.wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  transition: all .4s ease-out;
  margin: 0 auto;
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.social-link {

  &--linkedin {
    color: #2d76b0;
  }

  &--github {
    color: black;
  }

  &--instagram {
    color: #9a2970;
  }

  & .social-svg {
    width: 4.8rem;
    height: 4.8rem;

    & .social-group {

      &__icon {
        transition: all .2s;
      }

      &__inner-circle {
        fill: transparent;
        transition: all .2s;
      }

      &__outline {
        transform-origin: 50% 50%;
        transition: all .2s;
      }
  
  }

  &:hover, &:active, &:focus {

    & .social-group {

      &__icon {
        transition: all .45s;
      }

      &__inner-circle {
        fill: currentColor;
        transition: all .45s;

        &--instagram {
          fill: url(#simpleInsta) !important;
        }

      }

      &__outline {
        stroke: currentColor;
        transform: scale(1.1);
        transition: all .45s;
      }

    } 

  }

  }

}

.contact_illustration{
  max-width: 1024px;
  // background-color: #afaaaa;
  margin: 0 auto;
}

.astronaut_1{
  position: absolute;
  bottom: 8rem;
  left: -15rem;
  margin: 0 auto;
  width: 150px;
  animation: astronaut 30000ms linear infinite normal;
}

@keyframes astronaut {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#github{
  color: pink;
  stroke: pink;
  fill: pink;
}